/* ===================================================================
 *
 *  G Bayes v1.0 Main Stylesheet
 *  02-07-2019
 *  ------------------------------------------------------------------
 */

 .sb-sub-title {
   font-family: "montserrat", sans-serif;
   font-size: 1.5em;
   color: red;
 }
